[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[packages]
#sslyze = "*"
sslyze = { git = "https://github.com/jauderho/sslyze.git", editable = true }
wheel = "*"

[dev-packages]

[requires]
python_version = "3"
