[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sslyze = {path = ".", editable = true}
nassl = "*"
#nassl = { git = "https://github.com/nabla-c0d3/nassl.git", editable = true, ref="5.1.0" }

[dev-packages]

[requires]
python_version = "3"
